In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_regression

In [6]:
titanic = pd.read_csv('titanic.csv')
# titanic.shape
titanic.sample(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
533,1,3,female,NaN,0,2,22.3583,C,Third,woman,False,NaN,Cherbourg,yes,False
361,0,2,male,29.0,1,0,27.7208,C,Second,man,True,NaN,Cherbourg,no,False
155,0,1,male,51.0,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
106,1,3,female,21.0,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
480,0,3,male,9.0,5,2,46.9000,S,Third,child,False,NaN,Southampton,no,False

In [7]:
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.sample(5)

     survived  pclass  sex   age
94          0       3    0  59.0
207         1       3    0  26.0
706         1       2    1  45.0
787         0       3    0   8.0
858         1       3    1  24.0

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [79]:
model = KNeighborsClassifier(n_neighbors=1)

In [80]:
X = titanic.drop('survived', axis=1) # features
y = titanic['survived'] # label ou target

In [81]:
model.fit(X, y) # entraînement du modèle
model.score(X, y) # coefficient de détermination

0.8739495798319328

In [82]:
def survie(model: KNeighborsClassifier, pclass: int, sex: int, age: int):
	''' calcule la probabilité de survie d'un passager du Titanic
	'''
	X = np.array([pclass, sex, age]).reshape(1, 3)
	print(model.predict(X))
	print(model.predict_proba(X))

In [88]:
survie(model, 3, 0, 21)

[0]
[[1. 0.]]

c:\Users\Juste KOUASSI\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\Users\Juste KOUASSI\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(